<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Header -->
    <div class="row">
        <div class="col-md-12">
            <div class="page-head-box">
                <h3>Performance Appraisal</h3>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="/layout/dashboard/admin">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Performance Appraisal</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <!-- Search Filter -->
    <div class="row filter-row">
        <div class="col-md-8"></div>
        <div class="col-md-4">
            <div class="add-emp-section">
                <a class="btn btn-success btn-add-emp" data-bs-toggle="modal" data-bs-target="#add_appraisal"><i class="fas fa-plus"></i> Add New</a>
            </div>
        </div>
    </div>
    <!-- /Search Filter -->

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="datatable"
                    class="table table-striped custom-table mb-0 datatable">
                    <thead>
                        <tr>
                            <th style="width: 30px;">#</th>
                            <th>Employee</th>
                            <th>Designation</th>
                            <th>Department</th>
                            <th>Appraisal Date</th>
                            <th>Status</th>
                            <th class="text-end">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of lstData;let i = index">
                            <td>{{item.id}}</td>
                            <td>
                                <h2 class="table-avatar">
                                    <a routerLink="/layout/employees/employeeprofile" class="avatar"><img alt=""
                                            src="{{item.profileimg}}"></a>
                                    <a routerLink="/layout/employees/employeeprofile">{{item.employee}} </a>
                                </h2>
                            </td>
                            <td>{{item.designation}} </td>
                            <td>{{item.department}} </td>
                            <td>
                                {{item.apparaisaldate | customDate}}
                            </td>
                            <td>
                                <div class="dropdown action-label">
                                    <a class="role-info role-bg-two dropdown-toggle" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        <i class="fa fa-dot-circle-o text-success"></i>{{item.status || statusValue}}
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" (click)="getStatus('Active')"><i
                                                class="fa fa-dot-circle-o text-success"></i> Active</a>
                                        <a class="dropdown-item" (click)="getStatus('InActive')"><i
                                                class="fa fa-dot-circle-o text-info"></i>
                                            InActive</a>
                                    </div>
                                </div>
                            </td>
                            <td class="text-end ico-sec justify-content-end">
                                <a data-bs-toggle="modal" data-bs-target="#edit_appraisal" (click)="edit(item.id)"><i class="fas fa-pen"></i></a>
                                <a data-bs-toggle="modal" data-bs-target="#delete_appraisal" (click)="tempId = item.id"><i class="far fa-trash-alt"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->

<!-- Add Performance Appraisal Modal -->
<div id="add_appraisal" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Give Performance Appraisal</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Employee</label>
                                <select class="form-select form-control">
                                    <option>Select Employee</option>
                                    <option>John Doe</option>
                                    <option>Mike Litorus</option>
                                </select>
                            </div>											
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Select Date <span class="text-danger">*</span></label>
                                <div class="cal-icon"><input class="form-control datetimepicker" type="text"></div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="tab-box">
                                        <div class="row user-tabs">
                                            <div class="col-lg-12 col-md-12 col-sm-12 line-tabs">
                                                <ul class="nav nav-tabs nav-tabs-solid">
                                                    <li class="nav-item"><a href="#appr_technical" data-bs-toggle="tab" class="nav-link active">Technical</a></li>
                                                    <li class="nav-item"><a href="#appr_organizational" data-bs-toggle="tab" class="nav-link">Organizational</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-content">
                                        <div id="appr_technical" class="pro-overview tab-pane fade show active">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="bg-white">
                                                        <table class="table">
                                                            <thead>
                                                              <tr>
                                                                <th>Technical Competencies</th>
                                                                <th></th>
                                                                <th></th>
                                                                <th></th>
                                                                <th></th>
                                                              </tr>
                                                            </thead>
                                                            <tbody>
                                                              <tr>
                                                                <th colspan="2">Indicator</th>
                                                                <th colspan="2">Expected Value</th>
                                                                <th>Set Value</th>
                                                              </tr>
                                                              <tr>
                                                                <td colspan="2">Customer Experience</td>
                                                                <td colspan="2">Intermediate</td>
                                                                <td><select name="customer_experience" class="form-control">
                                                                    <option value="">None</option>
                                                                    <option value="1"> Beginner</option>
                                                                    <option value="2"> Intermediate</option>
                                                                    <option value="3"> Advanced</option>
                                                                    <option value="4"> Expert / Leader</option>
                                                                  </select></td>
                                                              </tr>
                                                              <tr>
                                                                <td colspan="2">Marketing</td>
                                                                <td colspan="2">Advanced</td>
                                                                <td><select name="marketing" class="form-control">
                                                                    <option value="">None</option>
                                                                    <option value="1"> Beginner</option>
                                                                    <option value="2"> Intermediate</option>
                                                                    <option value="3"> Advanced</option>
                                                                    <option value="4"> Expert / Leader</option>
                                                                  </select></td>
                                                              </tr>
                                                              <tr>
                                                                <td colspan="2">Management</td>
                                                                <td colspan="2">Advanced</td>
                                                                <td><select name="management" class="form-control">
                                                                    <option value="">None</option>
                                                                    <option value="1"> Beginner</option>
                                                                    <option value="2"> Intermediate</option>
                                                                    <option value="3"> Advanced</option>
                                                                    <option value="4"> Expert / Leader</option>
                                                                  </select></td>
                                                              </tr>
                                                              <tr>
                                                                <td colspan="2">Administration</td>
                                                                <td colspan="2">Advanced</td>
                                                                <td><select name="administration" class="form-control">
                                                                    <option value="">None</option>
                                                                    <option value="1"> Beginner</option>
                                                                    <option value="2"> Intermediate</option>
                                                                    <option value="3"> Advanced</option>
                                                                    <option value="4"> Expert / Leader</option>
                                                                  </select></td>
                                                              </tr>
                                                              <tr>
                                                                <td colspan="2">Presentation Skill</td>
                                                                <td colspan="2">Expert / Leader</td>
                                                                <td><select name="presentation_skill" class="form-control">
                                                                    <option value="">None</option>
                                                                    <option value="1"> Beginner</option>
                                                                    <option value="2"> Intermediate</option>
                                                                    <option value="3"> Advanced</option>
                                                                    <option value="4"> Expert / Leader</option>
                                                                  </select></td>
                                                              </tr>
                                                              <tr>
                                                                <td colspan="2">Quality Of Work</td>
                                                                <td colspan="2">Expert / Leader</td>
                                                                <td><select name="quality_of_work" class="form-control">
                                                                    <option value="">None</option>
                                                                    <option value="1"> Beginner</option>
                                                                    <option value="2"> Intermediate</option>
                                                                    <option value="3"> Advanced</option>
                                                                    <option value="4"> Expert / Leader</option>
                                                                  </select></td>
                                                              </tr>
                                                              <tr>
                                                                <td colspan="2">Efficiency</td>
                                                                <td colspan="2">Expert / Leader</td>
                                                                <td><select name="efficiency" class="form-control">
                                                                    <option value="">None</option>
                                                                    <option value="1"> Beginner</option>
                                                                    <option value="2"> Intermediate</option>
                                                                    <option value="3"> Advanced</option>
                                                                    <option value="4"> Expert / Leader</option>
                                                                  </select></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="appr_organizational">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="bg-white">
                                                        <table class="table">
                                                            <thead>
                                                                <tr>
                                                                    <th>Organizational Competencies</th>
                                                                    <th></th>
                                                                <th></th>
                                                                <th></th>
                                                                <th></th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                <tr>
                                                                    <th colspan="2">Indicator</th>
                                                                    <th colspan="2">Expected Value</th>
                                                                    <th>Set Value</th>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="2">Integrity</td>
                                                                    <td colspan="2">Beginner</td>
                                                                    <td>
                                                                        <select name="integrity" class="form-control">
                                                                            <option value="">None</option>
                                                                            <option value="1"> Beginner</option>
                                                                            <option value="2"> Intermediate</option>
                                                                            <option value="3"> Advanced</option>
                                                                        </select>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="2">Professionalism</td>
                                                                    <td colspan="2">Beginner</td>
                                                                    <td>
                                                                        <select name="professionalism" class="form-control">
                                                                            <option value="">None</option>
                                                                            <option value="1"> Beginner</option>
                                                                            <option value="2"> Intermediate</option>
                                                                            <option value="3"> Advanced</option>
                                                                        </select>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="2">Team Work</td>
                                                                    <td colspan="2">Intermediate</td>
                                                                    <td>
                                                                        <select name="team_work" class="form-control">
                                                                            <option value="">None</option>
                                                                            <option value="1"> Beginner</option>
                                                                            <option value="2"> Intermediate</option>
                                                                            <option value="3"> Advanced</option>
                                                                        </select>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="2">Critical Thinking</td>
                                                                    <td colspan="2">Advanced</td>
                                                                    <td>
                                                                        <select name="critical_thinking" class="form-control">
                                                                            <option value="">None</option>
                                                                            <option value="1"> Beginner</option>
                                                                            <option value="2"> Intermediate</option>
                                                                            <option value="3"> Advanced</option>
                                                                        </select>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="2">Conflict Management</td>
                                                                    <td colspan="2">Intermediate</td>
                                                                    <td>
                                                                        <select name="conflict_management" class="form-control">
                                                                            <option value="">None</option>
                                                                            <option value="1"> Beginner</option>
                                                                            <option value="2"> Intermediate</option>
                                                                            <option value="3"> Advanced</option>
                                                                        </select>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="2">Attendance</td>
                                                                    <td colspan="2">Intermediate</td>
                                                                    <td>
                                                                        <select name="attendance" class="form-control">
                                                                            <option value="">None</option>
                                                                            <option value="1"> Beginner</option>
                                                                            <option value="2"> Intermediate</option>
                                                                            <option value="3"> Advanced</option>
                                                                        </select>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="2">Ability To Meet Deadline</td>
                                                                    <td colspan="2">Advanced</td>
                                                                    <td>
                                                                        <select name="ability_to_meet_deadline" class="form-control">
                                                                            <option value="">None</option>
                                                                            <option value="1"> Beginner</option>
                                                                            <option value="2"> Intermediate</option>
                                                                            <option value="3"> Advanced</option>
                                                                        </select>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="col-form-label">Status</label>
                                <select class="form-select form-control">
                                    <option>Active</option>
                                    <option>Inactive</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    
                    <div class="submit-section">
                        <button class="btn btn-primary cancel-btn" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                        <button class="btn btn-primary submit-btn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Add Performance Appraisal Modal -->

<!-- Edit Performance Appraisal Modal -->
<div id="edit_appraisal" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Performance Appraisal</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">Employee</label>
                                <select class="form-select form-control">
                                    <option>Select Employee</option>
                                    <option>John Doe</option>
                                    <option selected>Mike Litorus</option>
                                </select>
                            </div>											
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Select Date <span class="text-danger">*</span></label>
                                <div class="cal-icon"><input class="form-control datetimepicker" value="7/08/2019" type="text"></div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="tab-box">
                                        <div class="row user-tabs">
                                            <div class="col-lg-12 col-md-12 col-sm-12 line-tabs">
                                                <ul class="nav nav-tabs nav-tabs-solid">
                                                    <li class="nav-item"><a href="#appr_technical1" data-bs-toggle="tab" class="nav-link active">Technical</a></li>
                                                    <li class="nav-item"><a href="#appr_organizational1" data-bs-toggle="tab" class="nav-link">Organizational</a></li>
                                                    
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-content">
                                        <div id="appr_technical1" class="pro-overview tab-pane fade show active">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="bg-white">
                                                        <table class="table">
                                                            <thead>
                                                                <tr>
                                                                    <th>Technical Competencies</th>
                                                                    <th></th>
                                                                    <th></th>
                                                                    <th></th>
                                                                    <th></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <th colspan="2">Indicator</th>
                                                                    <th colspan="2">Expected Value</th>
                                                                    <th>Set Value</th>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="2">Customer Experience</td>
                                                                    <td colspan="2">Intermediate</td>
                                                                    <td>
                                                                        <select name="customer_experience" class="form-control">
                                                                            <option value="">None</option>
                                                                            <option value="1"> Beginner</option>
                                                                            <option value="2"> Intermediate</option>
                                                                            <option value="3"> Advanced</option>
                                                                            <option value="4"> Expert / Leader</option>
                                                                        </select>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="2">Marketing</td>
                                                                    <td colspan="2">Advanced</td>
                                                                    <td>
                                                                        <select name="marketing" class="form-control">
                                                                            <option value="">None</option>
                                                                            <option value="1"> Beginner</option>
                                                                            <option value="2"> Intermediate</option>
                                                                            <option value="3"> Advanced</option>
                                                                            <option value="4"> Expert / Leader</option>
                                                                        </select>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="2">Management</td>
                                                                    <td colspan="2">Advanced</td>
                                                                    <td>
                                                                        <select name="management" class="form-control">
                                                                            <option value="">None</option>
                                                                            <option value="1"> Beginner</option>
                                                                            <option value="2"> Intermediate</option>
                                                                            <option value="3"> Advanced</option>
                                                                            <option value="4"> Expert / Leader</option>
                                                                        </select>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="2">Administration</td>
                                                                    <td colspan="2">Advanced</td>
                                                                    <td>
                                                                        <select name="administration" class="form-control">
                                                                            <option value="">None</option>
                                                                            <option value="1"> Beginner</option>
                                                                            <option value="2"> Intermediate</option>
                                                                            <option value="3"> Advanced</option>
                                                                            <option value="4"> Expert / Leader</option>
                                                                        </select>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="2">Presentation Skill</td>
                                                                    <td colspan="2">Expert / Leader</td>
                                                                    <td>
                                                                        <select name="presentation_skill" class="form-control">
                                                                            <option value="">None</option>
                                                                            <option value="1"> Beginner</option>
                                                                            <option value="2"> Intermediate</option>
                                                                            <option value="3"> Advanced</option>
                                                                            <option value="4"> Expert / Leader</option>
                                                                        </select>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="2">Quality Of Work</td>
                                                                    <td colspan="2">Expert / Leader</td>
                                                                    <td>
                                                                        <select name="quality_of_work" class="form-control">
                                                                            <option value="">None</option>
                                                                            <option value="1"> Beginner</option>
                                                                            <option value="2"> Intermediate</option>
                                                                            <option value="3"> Advanced</option>
                                                                            <option value="4"> Expert / Leader</option>
                                                                        </select>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="2">Efficiency</td>
                                                                    <td colspan="2">Expert / Leader</td>
                                                                    <td>
                                                                        <select name="efficiency" class="form-control">
                                                                            <option value="">None</option>
                                                                            <option value="1"> Beginner</option>
                                                                            <option value="2"> Intermediate</option>
                                                                            <option value="3"> Advanced</option>
                                                                            <option value="4"> Expert / Leader</option>
                                                                        </select>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="appr_organizational1">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="bg-white">
                                                        <table class="table">
                                                            <thead>
                                                                <tr>
                                                                    <th>Organizational Competencies</th>
                                                                    <th></th>
                                                                    <th></th>
                                                                    <th></th>
                                                                    <th></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <th colspan="2">Indicator</th>
                                                                    <th colspan="2">Expected Value</th>
                                                                    <th>Set Value</th>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="2">Integrity</td>
                                                                    <td colspan="2">Beginner</td>
                                                                    <td>
                                                                        <select name="integrity" class="form-control">
                                                                            <option value="">None</option>
                                                                            <option value="1"> Beginner</option>
                                                                            <option value="2"> Intermediate</option>
                                                                            <option value="3"> Advanced</option>
                                                                        </select>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="2">Professionalism</td>
                                                                    <td colspan="2">Beginner</td>
                                                                    <td>
                                                                        <select name="professionalism" class="form-control">
                                                                            <option value="">None</option>
                                                                            <option value="1"> Beginner</option>
                                                                            <option value="2"> Intermediate</option>
                                                                            <option value="3"> Advanced</option>
                                                                        </select>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="2">Team Work</td>
                                                                    <td colspan="2">Intermediate</td>
                                                                    <td>
                                                                        <select name="team_work" class="form-control">
                                                                            <option value="">None</option>
                                                                            <option value="1"> Beginner</option>
                                                                            <option value="2"> Intermediate</option>
                                                                            <option value="3"> Advanced</option>
                                                                        </select>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="2">Critical Thinking</td>
                                                                    <td colspan="2">Advanced</td>
                                                                    <td>
                                                                        <select name="critical_thinking" class="form-control">
                                                                            <option value="">None</option>
                                                                            <option value="1"> Beginner</option>
                                                                            <option value="2"> Intermediate</option>
                                                                            <option value="3"> Advanced</option>
                                                                        </select>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="2">Conflict Management</td>
                                                                    <td colspan="2">Intermediate</td>
                                                                    <td>
                                                                        <select name="conflict_management" class="form-control">
                                                                            <option value="">None</option>
                                                                            <option value="1"> Beginner</option>
                                                                            <option value="2"> Intermediate</option>
                                                                            <option value="3"> Advanced</option>
                                                                        </select>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="2">Attendance</td>
                                                                    <td colspan="2">Intermediate</td>
                                                                    <td>
                                                                        <select name="attendance" class="form-control">
                                                                            <option value="">None</option>
                                                                            <option value="1"> Beginner</option>
                                                                            <option value="2"> Intermediate</option>
                                                                            <option value="3"> Advanced</option>
                                                                        </select>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="2">Ability To Meet Deadline</td>
                                                                    <td colspan="2">Advanced</td>
                                                                    <td>
                                                                        <select name="ability_to_meet_deadline" class="form-control">
                                                                            <option value="">None</option>
                                                                            <option value="1"> Beginner</option>
                                                                            <option value="2"> Intermediate</option>
                                                                            <option value="3"> Advanced</option>
                                                                        </select>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="col-form-label">Status</label>
                                <select class="form-select form-control">
                                    <option>Active</option>
                                    <option>Inactive</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary cancel-btn" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                        <button class="btn btn-primary submit-btn">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Edit Performance Appraisal Modal -->

<!-- Delete Performance Appraisal Modal -->
<div class="modal custom-modal fade" id="delete_appraisal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Delete Performance Appraisal List</h3>
                    <p>Are you sure want to delete?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a  class="btn btn-primary continue-btn"
                                (click)=deleteApparaisal()>Delete</a>
                        </div>
                        <div class="col-6">
                            <a  data-bs-dismiss="modal"
                                class="btn btn-primary cancel-btn">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete Performance Appraisal Modal -->