<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Header -->
    <div class="row">
        <div class="col-md-12">
            <div class="page-head-box">
                <h3>Knowledgebase</h3>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="/layout/dashboard/admin">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Knowledgebase</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <div class="row">
        <div class="col-xl-4 col-md-6 col-sm-6" *ngFor="let knowledgebase of allKnowledgeBase;let i = index">
            <div class="topics">
                <h3 class="topic-title"><a >{{knowledgebase.title}}
                        <span>({{11 + i}})</span></a></h3>
                <ul class="topics-list">
                    <li><a routerLink="/layout/knowledgebase/knowledgebase-view"> {{knowledgebase.list1}} </a>
                    </li>
                    <li><a routerLink="/layout/knowledgebase/knowledgebase-view"> {{knowledgebase.list2}} </a>
                    </li>
                    <li><a routerLink="/layout/knowledgebase/knowledgebase-view"> {{knowledgebase.list3}} </a>
                    </li>
                    <li><a routerLink="/layout/knowledgebase/knowledgebase-view"> {{knowledgebase.list4}} </a>
                    </li>
                    <li><a routerLink="/layout/knowledgebase/knowledgebase-view"> {{knowledgebase.list5}} </a>
                    </li>
                </ul>
            </div>
        </div>
       
       
      
       
       
       
        
    </div>

</div>
<!-- /Page Content -->