<!-- Page Wrapper -->
<div class="page-wrapper">

    <!-- Page Content -->
    <div class="content container-fluid">
        <!-- Page Header -->
        <div class="row">
            <div class="col-md-12">
                <div class="page-head-box">
                    <h3>Categories</h3>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a routerLink="/layout/dashboard/admin">Dashboard</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Categories</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <!-- /Page Header -->

        <!-- Search Filter -->
        <div class="row filter-row">
            <div class="col-md-8"></div>
            <div class="col-md-4">
                <div class="add-emp-section">
                    <a class="btn btn-success btn-add-emp" data-bs-toggle="modal" data-bs-target="#add_categories"><i class="fas fa-plus"></i>  Add Categories</a>
                </div>
            </div>
        </div>
        <!-- /Search Filter -->

        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped custom-table mb-0">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Category Name </th>
                                <th>Sub-Category Name</th>
                                <th class="text-end">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of lstCategories">
                                <td>{{item.id}}</td>
                                <td>{{item.categoryname}}</td>
                                <td>{{item.subcategoryname}}</td>
                                <td class="text-end ico-sec justify-content-end">
                                    <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#edit_categories" (click)="edit(item)"><i class="fas fa-pen"></i></a>
                                    <a class="dropdown-item" routerLink="/layout/subcategory/subcategorylsit"><i class="fas fa-object-ungroup"></i></a>
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /Page Content -->
    
    <!-- Add Holiday Modal -->
    <div id="add_categories" class="modal custom-modal fade" id="add_categories" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Categories</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form (ngSubmit)="addCategories()" [formGroup]="addCategoriesForm">
                        <div class="form-group">
                            <label>Categories Name <span class="text-danger">*</span></label>
                            <input class="form-control" type="text" [class.invalid]="addCategoriesForm.get('CategoriesName').invalid && addCategoriesForm.get('CategoriesName').touched"
                formControlName="CategoriesName">
                <div
                *ngIf="addCategoriesForm.get('CategoriesName').invalid && addCategoriesForm.get('CategoriesName').touched">
                <small
                    *ngIf="addCategoriesForm.get('CategoriesName').invalid && addCategoriesForm.get('CategoriesName').touched"
                    class="text-danger"> *Categories Name required</small>
            </div>
                        </div>
                        
                        <div class="submit-section">
                            <button class="btn btn-primary submit-btn">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /Add Holiday Modal -->
    
    <!-- Add Holiday Modal -->
    <div  id="edit_categories"class="modal custom-modal fade" id="edit_categories" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Categories</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form (ngSubmit)="editCategories()" [formGroup]="editCategoriesForm">
                        <div class="form-group">
                            <label>Categories Name <span class="text-danger">*</span></label>
                            <input class="form-control" type="text" value="Hardware" [class.invalid]="editCategoriesForm.get('CategoriesName').invalid && editCategoriesForm.get('CategoriesName').touched"
                formControlName="CategoriesName">
                <div
                *ngIf="editCategoriesForm.get('CategoriesName').invalid && editCategoriesForm.get('CategoriesName').touched">
                <small
                    *ngIf="editCategoriesForm.get('CategoriesName').invalid && editCategoriesForm.get('CategoriesName').touched"
                    class="text-danger"> *Categories Name required</small>
            </div>
                        </div>
                        
                        <div class="submit-section">
                            <button class="btn btn-primary submit-btn">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /Add Holiday Modal -->
</div>
<!-- /Page Wrapper -->
