<div class="content-full tab-pane" id="chats_tab">
    <div class="chat-window">
        <div class="chat-contents">
            <div class="chat-content-wrap">
                <div class="chat-wrap-inner">
                    <div class="chat-box">
                        <div class="chats">
                            <div class="chat chat-left">
                                <div class="chat-avatar">
                                    <a href="javascript:void(0)" class="avatar">
                                        <img alt="" src="assets/img/profiles/avatar-02.jpg">
                                    </a>
                                </div>
                                <div class="chat-body">
                                    <div class="chat-bubble">
                                        <div class="chat-content">
                                            <span class="task-chat-user">John Doe</span> <span class="chat-time ms-1">8:35
                                                am</span>
                                            <p>I'm just looking around.</p>
                                            <p>Will you tell me something about yourself? </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="chat chat-left">
                                <div class="chat-avatar">
                                    <a href="javascript:void(0)" class="avatar">
                                        <img alt="" src="assets/img/profiles/avatar-02.jpg">
                                    </a>
                                </div>
                                <div class="chat-body">
                                    <div class="chat-bubble">
                                        <div class="chat-content">
                                            <span class="task-chat-user me-1">John Doe</span><span
                                                class="file-attached">attached 3 files <i
                                                    class="fa fa-paperclip"></i></span> <span class="chat-time ms-1">Feb 17,
                                                2019 at 4:32am</span>
                                            <ul class="attach-list">
                                                <li><i class="fa fa-file"></i> <a href="javascript:void(0)" class="ms-1">project_document.avi</a></li>
                                                <li><i class="fa fa-file"></i> <a href="javascript:void(0)" class="ms-1">video_conferencing.psd</a>
                                                </li>
                                                <li><i class="fa fa-file"></i> <a href="javascript:void(0)" class="ms-1">landing_page.psd</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="chat-line">
                                <span class="chat-date">January 29th, 2019</span>
                            </div>
                            <div class="chat chat-left">
                                <div class="chat-avatar">
                                    <a href="javascript:void(0)" class="avatar">
                                        <img alt="" src="assets/img/profiles/avatar-16.jpg">
                                    </a>
                                </div>
                                <div class="chat-body">
                                    <div class="chat-bubble">
                                        <div class="chat-content">
                                            <span class="task-chat-user me-1">Jeffery Lalor</span> <span
                                                class="file-attached">attached file <i
                                                    class="fa fa-paperclip"></i></span> <span
                                                class="chat-time ms-1">Yesterday at 9:16pm</span>
                                            <ul class="attach-list">
                                                <li class="pdf-file"><i class="far fa-file-pdf"></i> <a href="javascript:void(0)" class="ms-1">Document_2016.pdf</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="chat chat-left">
                                <div class="chat-avatar">
                                    <a href="javascript:void(0)" class="avatar">
                                        <img alt="" src="assets/img/profiles/avatar-16.jpg">
                                    </a>
                                </div>
                                <div class="chat-body">
                                    <div class="chat-bubble">
                                        <div class="chat-content">
                                            <span class="task-chat-user me-1">Jeffery Lalor</span> <span
                                                class="file-attached">attached file <i
                                                    class="fa fa-paperclip"></i></span><span class="chat-time ms-1">Today at
                                                12:42pm</span>
                                            <ul class="attach-list">
                                                <li class="img-file">
                                                    <div class="attach-img-download"><a href="javascript:void(0)" class="ms-1">avatar-01.jpg</a></div>
                                                    <div class="task-attach-img"><img
                                                            src="assets/img/user.jpg" alt="">
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="chat-footer">
            <div class="message-bar">
                <div class="message-inner">
                    <a class="link attach-icon"  data-bs-toggle="modal" data-bs-target="#drag_files"><img
                            src="assets/img/attachment.png" alt=""></a>
                    <div class="message-area">
                        <div class="input-group">
                            <textarea class="form-control" placeholder="Type message..."></textarea>
                            <button class="btn btn-primary" type="button"><i class="fas fa-paper-plane"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>