<!-- Page Wrapper -->
<div class="page-wrapper" (resized)="onResize($event)" [ngStyle]="{ 'height' : innerHeight }">
    <div class="content container-fluid">
        <div class="row">
            <div class="col-md-12">       
                <!-- Page Header -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="page-head-box">
                            <h3>{{urlComplete.subUrl | titlecase}}</h3>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a routerLink="/layout/dashboard/admin">Dashboard</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">{{urlComplete.subUrl | titlecase}}</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
                <!-- /Page Header -->
                <div class="row">
                    <div class="col-md-4 col-lg-3">
                        <!-- Sidebar -->
                        <div class="card settings-menu">
                            <div class="sidebar-menu">
                                <ul>
                                    <li class="menu-title">Settings</li>
                                    <li [ngClass]="{'active' : urlComplete.subUrl === 'company-settings'}"> 
                                        <a routerLink="/layout/settings/company-settings"><i class="la la-building"></i> <span>Company Settings</span></a>
                                    </li>
                                    <li  [ngClass]="{'active' : urlComplete.subUrl === 'localization'}"> 
                                        <a routerLink="/layout/settings/localization"><i class="la la-clock-o"></i> <span>Localization</span></a>
                                    </li>
                                    <li  [ngClass]="{'active' : urlComplete.subUrl === 'theme-settings'}"> 
                                        <a routerLink="/layout/settings/theme-settings"><i class="la la-photo"></i> <span>Theme Settings</span></a>
                                    </li>
                                    <li  [ngClass]="{'active' : urlComplete.subUrl === 'role'}"> 
                                        <a routerLink="/layout/settings/role"><i class="la la-key"></i> <span>Roles & Permissions</span></a>
                                    </li>
                                    <li  [ngClass]="{'active' : urlComplete.subUrl === 'email-settings'}"> 
                                        <a routerLink="/layout/settings/email-settings"><i class="la la-at"></i> <span>Email Settings</span></a>
                                    </li>
                                    <li [ngClass]="{'active' : urlComplete.subUrl === 'performance-settings'}">  
                                        <a routerLink="/layout/settings/performance-settings"><i class="la la-chart-bar"></i> <span>Performance Settings</span></a>
                                    </li>
                                    <li [ngClass]="{'active' : urlComplete.subUrl === 'approval-settings'}"> 
                                        <a routerLink="/layout/settings/approval-settings"><i class="la la-thumbs-up"></i> <span>Approval Settings</span></a>
                                    </li>
                                    <li  [ngClass]="{'active' : urlComplete.subUrl === 'invoice-settings'}"> 
                                        <a routerLink="/layout/settings/invoice-settings"><i class="la la-pencil-square"></i> <span>Invoice Settings</span></a>
                                    </li>
                                    <li  [ngClass]="{'active' : urlComplete.subUrl === 'salary-settings'}"> 
                                        <a routerLink="/layout/settings/salary-settings"><i class="la la-money"></i> <span>Salary Settings</span></a>
                                    </li>
                                    <li  [ngClass]="{'active' : urlComplete.subUrl === 'notifications'}"> 
                                        <a routerLink="/layout/settings/notifications"><i class="la la-globe"></i> <span>Notifications</span></a>
                                    </li>
                                    <li  [ngClass]="{'active' : urlComplete.subUrl === 'change-password'}"> 
                                        <a routerLink="/layout/settings/change-password"><i class="la la-lock"></i> <span>Change Password</span></a>
                                    </li>
                                    <li  [ngClass]="{'active' : urlComplete.subUrl === 'leave-type'}"> 
                                        <a routerLink="/layout/settings/leave-type"><i class="la la-cogs"></i> <span>Leave Type</span></a>
                                    </li>
                                    <li [ngClass]="{'active' : urlComplete.subUrl === 'tokbox-settings'}"> 
                                        <a routerLink="/layout/settings/tokbox-settings"><i class="la la-comment"></i> <span>ToxBox Settings</span></a>
                                    </li>
                                    <li [ngClass]="{'active' : urlComplete.subUrl === 'cron-settings'}"> 
                                        <a routerLink="/layout/settings/cron-settings"><i class="la la-rocket"></i> <span>Cron Settings</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Sidebar -->
                    </div>
                    <div class="col-md-8 col-lg-9 settings-cont">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- /Page Wrapper -->
