<!-- Main Wrapper -->
<div class="main-wrapper">
    <div class="account-content">
        <div class="container">

            <div class="account-box">
                <div class="account-wrapper">

                    <!-- Lock User Img -->
                    <div class="lock-user">
                        <img alt="" src="assets/img/profiles/avatar-02.jpg" class="rounded-circle">
                        <h4>John Doe</h4>
                    </div>
                    <!-- /Lock User Img -->

                    <!-- Account Form -->
                    <form action="dashboard">
                        <div class="form-group">
                            <label>Password</label>
                            <input class="form-control" type="password">
                        </div>
                        <div class="form-group text-center">
                            <a class="btn btn-primary account-btn" routerLink="/layout/dashboard/admin">Enter</a>
                        </div>
                        <div class="account-footer">
                            <p>Sign in as a different user? <a routerLink="/login">Login</a></p>
                        </div>
                    </form>
                    <!-- /Account Form -->

                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Main Wrapper -->