<!-- Page Content -->
<div class="card p-4">
    <div class="add-emp-section">
        <a class="btn btn-success btn-add-emp" data-bs-toggle="modal" data-bs-target="#add_leavetype"><i class="fas fa-plus"></i> Add Leave Type</a>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table  datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped custom-table datatable mb-0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Leave Type</th>
                            <th>Leave Days</th>
                            <th>Status</th>
                            <th class="text-end">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let leaveType of allLeaveType;let i = index">
                            <td>
                                {{ 1 + i}}
                            </td>
                            <td>{{leaveType.leaveType}}</td>
                            <td>{{leaveType.leaveDays}}</td>
                            <td>
                                <div class="dropdown action-label">
                                    <a class="role-info role-bg-two dropdown-toggle" 
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-dot-circle-o text-success"></i> Active
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a  class="dropdown-item"><i
                                                class="fa fa-dot-circle-o text-success"></i> Active</a>
                                        <a  class="dropdown-item"><i class="fa fa-dot-circle-o text-danger"></i>
                                            Inactive</a>
                                    </div>
                                </div>
                            </td>
                            <td class="text-end ico-sec justify-content-end">
                                <a data-bs-toggle="modal" data-bs-target="#edit_leavetype" (click)="edit(leaveType.id)"><i class="fas fa-pen"></i></a>
                                <a data-bs-toggle="modal" data-bs-target="#delete_leavetype" (click)="tempId = leaveType.id"><i class="far fa-trash-alt"></i></a>
                            </td>
                        </tr>
                        <tr *ngIf="allLeaveType.length === 0">
                            <td colspan="10">
                                <h5 style="text-align: center;">No data found</h5>
                            </td>
                           
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->

<!-- Add Leavetype Modal -->
<div id="add_leavetype" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Leave Type</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="addLeave()" [formGroup]="addLeaveType">
                    <div class="form-group">
                        <label>Leave Type <span class="text-danger">*</span></label>
                        <input class="form-control" type="text" [class.invalid]="addLeaveType.get('addLeaveType').invalid && addLeaveType.get('addLeaveType').touched"
                        formControlName="addLeaveType">
                        <div
                        *ngIf="addLeaveType.get('addLeaveType').invalid && addLeaveType.get('addLeaveType').touched">
                        <small
                            *ngIf="addLeaveType.get('addLeaveType').invalid && addLeaveType.get('addLeaveType').touched"
                            class="text-danger"> *Leave type is required</small>
                    </div>
                    </div>
                    <div class="form-group">
                        <label>Number of days <span class="text-danger">*</span></label>
                        <input class="form-control" type="text" [class.invalid]="addLeaveType.get('addLeaveDays').invalid && addLeaveType.get('addLeaveDays').touched"
                        formControlName="addLeaveDays">
                        <div
                        *ngIf="addLeaveType.get('addLeaveDays').invalid && addLeaveType.get('addLeaveDays').touched">
                        <small
                            *ngIf="addLeaveType.get('addLeaveDays').invalid && addLeaveType.get('addLeaveDays').touched"
                            class="text-danger"> *Leave days is required</small>
                    </div>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Add Leavetype Modal -->

<!-- Edit Leavetype Modal -->
<div id="edit_leavetype" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Leave Type</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="editLeave()" [formGroup]="editLeaveType">
                    <div class="form-group">
                        <label>Leave Type <span class="text-danger">*</span></label>
                        <input class="form-control" type="text" [class.invalid]="editLeaveType.get('editLeave').invalid && editLeaveType.get('editLeave').touched"
                        formControlName="editLeave">
                        <div
                        *ngIf="editLeaveType.get('editLeave').invalid && editLeaveType.get('editLeave').touched">
                        <small
                            *ngIf="editLeaveType.get('editLeave').invalid && editLeaveType.get('editLeave').touched"
                            class="text-danger"> *Leave type is required</small>
                    </div>
                    </div>
                    <div class="form-group">
                        <label>Number of days <span class="text-danger">*</span></label>
                        <input class="form-control" type="text" [class.invalid]="editLeaveType.get('editLeaveDays').invalid && editLeaveType.get('editLeaveDays').touched"
                        formControlName="editLeaveDays">
                        <div
                        *ngIf="editLeaveType.get('editLeaveDays').invalid && editLeaveType.get('editLeaveDays').touched">
                        <small
                            *ngIf="editLeaveType.get('editLeaveDays').invalid && editLeaveType.get('editLeaveDays').touched"
                            class="text-danger"> *Leave days is required</small>
                    </div>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Edit Leavetype Modal -->

<!-- Delete Leavetype Modal -->
<div class="modal custom-modal fade" id="delete_leavetype" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Delete Leave Type</h3>
                    <p>Are you sure want to delete?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a  class="btn btn-primary continue-btn" (click)="deleteLeave()">Delete</a>
                        </div>
                        <div class="col-6">
                            <a  data-bs-dismiss="modal"
                                class="btn btn-primary cancel-btn">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete Leavetype Modal -->