<div>
<!-- Page Wrapper -->
            <div class="page-wrapper">
            
                <!-- Page Content -->
                <div class="content container-fluid">
                    
                    <!-- Page Header -->
                    <div class="page-header">
                        <div class="row">
                            <div class="col">
                                <h3 class="page-title">Shift List</h3>
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item"><a routerLink="/layout/dashboard/admin">Dashboard</a></li>
                                    <li class="breadcrumb-item"><a>Employees</a></li>
                                    <li class="breadcrumb-item active">Shift List</li>
                                </ul>
                            </div>
                            <div class="col-auto float-end ms-auto">
                                <a class="btn add-btn m-r-5" data-bs-toggle="modal" data-bs-target="#add_shift">Add Shifts</a>
                                <a class="btn add-btn m-r-5" data-bs-toggle="modal" data-bs-target="#add_schedule"> Assign Shifts</a>
                            </div>
                        </div>
                    </div>
                    <!-- /Page Header -->
                    
                    <!-- Content Starts -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                    class="table table-striped custom-table datatable mb-0">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Shift Name</th>
                                            <th>Min Start Time</th>
                                            <th>Start Time</th>
                                            <th>Max Start Time</th>
                                            <th>Min End Time</th>
                                            <th>End Time</th>
                                            <th>Max End Time</th>
                                            <th>Break Time</th>
                                            <th class="text-center">Status</th>
                                            <th class="text-end no-sort">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of lstRevenue">
                                            <td>{{item.id}}</td>
                                            <td>{{item.shiftname}}</td>
                                            <td>{{item.minstarttime}}</td>
                                            <td>{{item.starttime}}</td>
                                            <td>{{item.maxstarttime}}</td>
                                            <td>{{item.minendtime}}</td>
                                            <td>{{item.endtime}}</td>
                                            <td>{{item.maxendtime}}</td>
                                            <td>{{item.breaktime}}</td>
                                            <td class="text-center">
                                                <div class="action-label">
                                                    <a class="btn btn-white btn-sm btn-rounded" href="javascript:void(0);">
                                                        <i class="fa fa-dot-circle-o text-success"></i> {{item.status}}
                                                    </a>
                                                </div>
                                            </td>
                                            <td class="text-end">
                                                <div class="dropdown dropdown-action">
                                                    <a class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#edit_shift" (click)="edit(item)"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                                        <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#delete_employee" (click)="tempId = item.id"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- /Content End -->
                    
                </div>
                <!-- /Page Content -->
                
            </div>
            <!-- /Page Wrapper -->
                
            <!-- Add Shift Modal -->
            <div id="add_shift" class="modal custom-modal fade" role="dialog">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Add Shift</h5>
                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form (ngSubmit)="addRevenue()" [formGroup]="addRevenueForm">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label class="col-form-label">Shift Name <span class="text-danger">*</span></label>
                                            <div class="input-group time timepicker">
                                                <input class="form-control" [class.invalid]="addRevenueForm.get('ShiftName').invalid && addRevenueForm.get('ShiftName').touched"
                            formControlName="ShiftName"><span class="input-group-text"><i class="far fa-clock"></i></span>
                                            </div>
                                              <div
                            *ngIf="addRevenueForm.get('ShiftName').invalid && addRevenueForm.get('ShiftName').touched">
                            <small
                                *ngIf="addRevenueForm.get('ShiftName').invalid && addRevenueForm.get('ShiftName').touched"
                                class="text-danger"> *Shift name required</small>
                        </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group" >
                                            <label>Min Start Time <span class="text-danger">*</span></label>
                                            <div class="input-group time timepicker">
                                                <input class="form-control" [class.invalid]="addRevenueForm.get('MinStartTime').invalid && addRevenueForm.get('MinStartTime').touched"
                            formControlName="MinStartTime"><span class="input-group-text"><i class="far fa-clock"></i></span>
                                            </div>
                                                   <div
                            *ngIf="addRevenueForm.get('MinStartTime').invalid && addRevenueForm.get('MinStartTime').touched">
                            <small
                                *ngIf="addRevenueForm.get('MinStartTime').invalid && addRevenueForm.get('MinStartTime').touched"
                                class="text-danger"> *Min start time required</small>
                        </div>  
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Start Time <span class="text-danger">*</span></label>
                                            <div class="input-group time timepicker">
                                                <input class="form-control" [class.invalid]="addRevenueForm.get('StartTime').invalid && addRevenueForm.get('StartTime').touched"
                            formControlName="StartTime"><span class="input-group-text"><i class="far fa-clock"></i></span>
                                            </div>
                                                           <div
                            *ngIf="addRevenueForm.get('StartTime').invalid && addRevenueForm.get('StartTime').touched">
                            <small
                                *ngIf="addRevenueForm.get('StartTime').invalid && addRevenueForm.get('StartTime').touched"
                                class="text-danger"> *start time required</small>
                        </div>                                    
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Max Start Time <span class="text-danger">*</span></label>
                                            <div class="input-group time timepicker">
                                                <input class="form-control" [class.invalid]="addRevenueForm.get('MaxStartTime').invalid && addRevenueForm.get('MaxStartTime').touched"
                            formControlName="MaxStartTime"><span class="input-group-text"><i class="far fa-clock"></i></span>
                                            </div> 
                                                         <div
                            *ngIf="addRevenueForm.get('MaxStartTime').invalid && addRevenueForm.get('MaxStartTime').touched">
                            <small
                                *ngIf="addRevenueForm.get('MaxStartTime').invalid && addRevenueForm.get('MaxStartTime').touched"
                                class="text-danger"> *Max start time required</small>
                        </div>                                    
                                                                           
                                        </div>
                                    </div>      
                                    <div class="col-md-4">
                                        <div class="form-group" >
                                            <label>Min End Time <span class="text-danger">*</span></label>
                                            <div class="input-group time timepicker">
                                                <input class="form-control" [class.invalid]="addRevenueForm.get('MinEndTime').invalid && addRevenueForm.get('MinEndTime').touched"
                            formControlName="MinEndTime"><span class="input-group-text"><i class="far fa-clock"></i></span>
                                            </div>
                                                               <div
                            *ngIf="addRevenueForm.get('MinEndTime').invalid && addRevenueForm.get('MinEndTime').touched">
                            <small
                                *ngIf="addRevenueForm.get('MinEndTime').invalid && addRevenueForm.get('MinEndTime').touched"
                                class="text-danger"> *Min End time required</small>
                        </div>                                    
                                
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>End Time <span class="text-danger">*</span></label>
                                            <div class="input-group time timepicker">
                                                <input class="form-control" [class.invalid]="addRevenueForm.get('EndTime').invalid && addRevenueForm.get('EndTime').touched"
                            formControlName="EndTime"><span class="input-group-text"><i class="far fa-clock"></i></span>
                                            </div> 
                                                                   <div
                            *ngIf="addRevenueForm.get('EndTime').invalid && addRevenueForm.get('EndTime').touched">
                            <small
                                *ngIf="addRevenueForm.get('EndTime').invalid && addRevenueForm.get('EndTime').touched"
                                class="text-danger"> *End time required</small>
                        </div>                                     
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Max End Time <span class="text-danger">*</span></label>
                                            <div class="input-group time timepicker">
                                                <input class="form-control" [class.invalid]="addRevenueForm.get('MaxEndTime').invalid && addRevenueForm.get('MaxEndTime').touched"
                            formControlName="MaxEndTime"><span class="input-group-text"><i class="far fa-clock"></i></span>
                                            </div>  
                                                                         <div
                            *ngIf="addRevenueForm.get('MaxEndTime').invalid && addRevenueForm.get('MaxEndTime').touched">
                            <small
                                *ngIf="addRevenueForm.get('MaxEndTime').invalid && addRevenueForm.get('MaxEndTime').touched"
                                class="text-danger"> *Max End time required</small>
                        </div>                                     
                                                                           
                                        </div>
                                    </div>  
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Break Time (In Minutes) </label>
                                            <input type="text" class="form-control" [class.invalid]="addRevenueForm.get('BreakTime').invalid && addRevenueForm.get('BreakTime').touched"
                            formControlName="BreakTime"> 
                                                                   <div
                            *ngIf="addRevenueForm.get('BreakTime').invalid && addRevenueForm.get('BreakTime').touched">
                            <small
                                *ngIf="addRevenueForm.get('BreakTime').invalid && addRevenueForm.get('BreakTime').touched"
                                class="text-danger"> *Breaktime required</small>
                        </div>                                     
                                                                             
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="custom-control form-check">
                                            <input type="checkbox" class="form-check-input" id="customCheck1">
                                            <label class="form-check-label" for="customCheck1">Recurring Shift</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label class="col-form-label">Repeat Every</label>
                                            <select class="form-select form-control">
                                                <option value="">1 </option>
                                                <option value="1">2</option>
                                                <option value="2">3</option>
                                                <option value="3">4</option>
                                                <option  selected value="4">5</option>
                                                <option value="3">6</option>
                                            </select>
                                            <label class="col-form-label">Week(s)</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group wday-box">
                                            <label class="checkbox-inline"><input type="checkbox" value="monday" class="days recurring" checked=""><span class="checkmark">M</span></label>
        
                                            <label class="checkbox-inline"><input type="checkbox" value="tuesday" class="days recurring" checked=""><span class="checkmark">T</span></label>
                                        
                                            <label class="checkbox-inline"><input type="checkbox" value="wednesday" class="days recurring" checked=""><span class="checkmark">W</span></label>
                                        
                                            <label class="checkbox-inline"><input type="checkbox" value="thursday" class="days recurring" checked=""><span class="checkmark">T</span></label>
                                        
                                            <label class="checkbox-inline"><input type="checkbox" value="friday" class="days recurring" checked=""><span class="checkmark">F</span></label>
                                        
                                            <label class="checkbox-inline"><input type="checkbox" value="saturday" class="days recurring"><span class="checkmark">S</span></label>
                                        
                                            <label class="checkbox-inline"><input type="checkbox" value="sunday" class="days recurring"><span class="checkmark">S</span></label>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label class="col-form-label">End On <span class="text-danger">*</span></label>
                                            <div class="cal-icon"><input class="form-control datetimepicker" type="text" bsDatepicker></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="custom-control form-check">
                                            <input type="checkbox" class="form-check-input" id="customCheck2">
                                            <label class="form-check-label" for="customCheck2">Indefinite</label>
                                        </div>
                                    </div>                              
                            
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Add Tag </label>
                                            <input type="text" class="form-control">                                            
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Add Note </label>
                                            <textarea class="form-control"></textarea>                                          
                                        </div>
                                    </div>
                                </div>
                                <div class="submit-section">
                                    <button class="btn btn-primary submit-btn">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Add Shift Modal -->

                <!-- Edit Shift Modal -->
                <div id="edit_shift" class="modal custom-modal fade" role="dialog">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Edit Shift</h5>
                                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form (ngSubmit)="editRevenue()" [formGroup]="editRevenueForm">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label class="col-form-label">Shift Name <span class="text-danger">*</span></label>
                                                <div class="input-group time timepicker">
                                                    <input class="form-control" [class.invalid]="editRevenueForm.get('ShiftName').invalid && editRevenueForm.get('ShiftName').touched"
                            formControlName="ShiftName"><span class="input-group-text"><i class="far fa-clock"></i></span>
                                                </div>
                                                               <div
                            *ngIf="editRevenueForm.get('ShiftName').invalid && editRevenueForm.get('ShiftName').touched">
                            <small
                                *ngIf="editRevenueForm.get('ShiftName').invalid && editRevenueForm.get('ShiftName').touched"
                                class="text-danger"> *Shift name required</small>
                        </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group" >
                                                <label>Min Start Time <span class="text-danger">*</span></label>
                                                <div class="input-group time timepicker">
                                                    <input class="form-control" [class.invalid]="editRevenueForm.get('MinStartTime').invalid && editRevenueForm.get('MinStartTime').touched"
                            formControlName="MinStartTime"><span class="input-group-text"><i class="far fa-clock"></i></span>
                                                </div>
                                                                 <div
                            *ngIf="editRevenueForm.get('MinStartTime').invalid && editRevenueForm.get('MinStartTime').touched">
                            <small
                                *ngIf="editRevenueForm.get('MinStartTime').invalid && editRevenueForm.get('MinStartTime').touched"
                                class="text-danger"> *Min start time required</small>
                        </div>  
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Start Time <span class="text-danger">*</span></label>
                                                <div class="input-group time timepicker">
                                                    <input class="form-control" [class.invalid]="editRevenueForm.get('StartTime').invalid && editRevenueForm.get('StartTime').touched"
                            formControlName="StartTime"><span class="input-group-text"><i class="far fa-clock"></i></span>
                                                </div> 
                                                                         <div
                            *ngIf="editRevenueForm.get('StartTime').invalid && editRevenueForm.get('StartTime').touched">
                            <small
                                *ngIf="editRevenueForm.get('StartTime').invalid && editRevenueForm.get('StartTime').touched"
                                class="text-danger"> *start time required</small>
                        </div>                                     
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Max Start Time <span class="text-danger">*</span></label>
                                                <div class="input-group time timepicker">
                                                    <input class="form-control" [class.invalid]="editRevenueForm.get('MaxStartTime').invalid && editRevenueForm.get('MaxStartTime').touched"
                            formControlName="MaxStartTime"><span class="input-group-text"><i class="far fa-clock"></i></span>
                                                </div> 
                                                                         <div
                            *ngIf="editRevenueForm.get('MaxStartTime').invalid && editRevenueForm.get('MaxStartTime').touched">
                            <small
                                *ngIf="editRevenueForm.get('MaxStartTime').invalid && editRevenueForm.get('MaxStartTime').touched"
                                class="text-danger"> *Max start time required</small>
                        </div>                                    
                                                                          
                                            </div>
                                        </div>      
                                        <div class="col-md-4">
                                            <div class="form-group" >
                                                <label>Min End Time <span class="text-danger">*</span></label>
                                                <div class="input-group time timepicker">
                                                    <input class="form-control" [class.invalid]="editRevenueForm.get('MinEndTime').invalid && editRevenueForm.get('MinEndTime').touched"
                            formControlName="MinEndTime"><span class="input-group-text"><i class="far fa-clock"></i></span>
                                                </div>
                                                                               <div
                            *ngIf="editRevenueForm.get('MinEndTime').invalid && editRevenueForm.get('MinEndTime').touched">
                            <small
                                *ngIf="editRevenueForm.get('MinEndTime').invalid && editRevenueForm.get('MinEndTime').touched"
                                class="text-danger"> *Min End time required</small>
                        </div>    
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>End Time <span class="text-danger">*</span></label>
                                                <div class="input-group time timepicker">
                                                    <input class="form-control" [class.invalid]="editRevenueForm.get('EndTime').invalid && editRevenueForm.get('EndTime').touched"
                            formControlName="EndTime"><span class="input-group-text"><i class="far fa-clock"></i></span>
                                                </div> 
                                                                                   <div
                            *ngIf="editRevenueForm.get('EndTime').invalid && editRevenueForm.get('EndTime').touched">
                            <small
                                *ngIf="editRevenueForm.get('EndTime').invalid && editRevenueForm.get('EndTime').touched"
                                class="text-danger"> *End time required</small>
                        </div>                                    
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Max End Time <span class="text-danger">*</span></label>
                                                <div class="input-group time timepicker">
                                                    <input class="form-control" [class.invalid]="editRevenueForm.get('MaxEndTime').invalid && editRevenueForm.get('MaxEndTime').touched"
                            formControlName="MaxEndTime"><span class="input-group-text"><i class="far fa-clock"></i></span>
                                                </div> 
                                                                                         <div
                            *ngIf="editRevenueForm.get('MaxEndTime').invalid && editRevenueForm.get('MaxEndTime').touched">
                            <small
                                *ngIf="editRevenueForm.get('MaxEndTime').invalid && editRevenueForm.get('MaxEndTime').touched"
                                class="text-danger"> *Max End time required</small>
                        </div>     

                                            </div>
                                        </div>  
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Break Time (In Minutes) </label>
                                                <input type="text" class="form-control" [class.invalid]="editRevenueForm.get('BreakTime').invalid && editRevenueForm.get('BreakTime').touched"
                            formControlName="BreakTime">  
                                                               <div
                            *ngIf="editRevenueForm.get('BreakTime').invalid && editRevenueForm.get('BreakTime').touched">
                            <small
                                *ngIf="editRevenueForm.get('BreakTime').invalid && editRevenueForm.get('BreakTime').touched"
                                class="text-danger"> *Breaktime required</small>
                        </div>                                     
                                                                           
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="custom-control form-check">
                                                <input type="checkbox" class="form-check-input" id="customCheck3">
                                                <label class="form-check-label" for="customCheck3">Recurring Shift</label>
                                                </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label class="col-form-label">Repeat Every</label>
                                                <select class="form-select form-control">
                                                    <option value="">1 </option>
                                                    <option value="1">2</option>
                                                    <option value="2">3</option>
                                                    <option value="3">4</option>
                                                    <option  selected value="4">5</option>
                                                    <option value="3">6</option>
                                                </select>
                                                <label class="col-form-label">Week(s)</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group wday-box">
                                                <label class="checkbox-inline"><input type="checkbox" value="monday" class="days recurring" checked=""><span class="checkmark">M</span></label>
            
                                                <label class="checkbox-inline"><input type="checkbox" value="tuesday" class="days recurring" checked=""><span class="checkmark">T</span></label>
                                            
                                                <label class="checkbox-inline"><input type="checkbox" value="wednesday" class="days recurring" checked=""><span class="checkmark">W</span></label>
                                            
                                                <label class="checkbox-inline"><input type="checkbox" value="thursday" class="days recurring" checked=""><span class="checkmark">T</span></label>
                                            
                                                <label class="checkbox-inline"><input type="checkbox" value="friday" class="days recurring" checked=""><span class="checkmark">F</span></label>
                                            
                                                <label class="checkbox-inline"><input type="checkbox" value="saturday" class="days recurring"><span class="checkmark">S</span></label>
                                            
                                                <label class="checkbox-inline"><input type="checkbox" value="sunday" class="days recurring"><span class="checkmark">S</span></label>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label class="col-form-label">End On <span class="text-danger">*</span></label>
                                                <div class="cal-icon"><input class="form-control datetimepicker" type="text" bsDatepicker></div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="custom-control form-check">
                                                <input type="checkbox" class="form-check-input" id="customCheck4">
                                                <label class="form-check-label" for="customCheck4">Indefinite</label>
                                                </div>
                                        </div>                              
                                
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Add Tag </label>
                                                <input type="text" class="form-control">                                            
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Add Note </label>
                                                <textarea class="form-control"></textarea>                                          
                                            </div>
                                        </div>
                                    </div>
                                    <div class="submit-section">
                                        <button class="btn btn-primary submit-btn">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Edit Shift Modal -->

                <!-- Add Schedule Modal -->
                <div id="add_schedule" class="modal custom-modal fade" role="dialog">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Add Schedule</h5>
                                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="col-form-label">Department <span class="text-danger">*</span></label>
                                                <select class="form-select form-control">
                                                    <option value="">Select</option>
                                                    <option value="">Development</option>
                                                    <option value="1">Finance</option>
                                                    <option value="2">Finance and Management</option>
                                                    <option value="3">Hr & Finance</option>
                                                    <option value="4">ITech</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="col-form-label">Employee Name <span class="text-danger">*</span></label>
                                                <select class="form-select form-control">
                                                    <option value="">Select </option>
                                                    <option value="1">Richard Miles </option>
                                                    <option value="2">John Smith</option>
                                                    <option value="3">Mike Litorus </option>
                                                    <option value="4">Wilmer Deluna</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="col-form-label">Date</label>
                                                <div class="cal-icon"><input class="form-control datetimepicker" type="text" bsDatepicker></div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="col-form-label">Shifts <span class="text-danger">*</span></label>
                                                <select class="form-select form-control">
                                                    <option value="">Select </option>
                                                    <option value="1">10'o clock Shift</option>
                                                    <option value="2">10:30 shift</option>
                                                    <option value="3">Daily Shift </option>
                                                    <option value="4">New Shift</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="col-form-label">Min Start Time  <span class="text-danger">*</span></label>
                                                <div class="input-group time timepicker">
                                                    <input class="form-control"><span class="input-group-text"><i class="far fa-clock"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="col-form-label">Start Time  <span class="text-danger">*</span></label>
                                                <div class="input-group time timepicker">
                                                    <input class="form-control"><span class="input-group-text"><i class="far fa-clock"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="col-form-label">Max Start Time  <span class="text-danger">*</span></label>
                                                <div class="input-group time timepicker">
                                                    <input class="form-control"><span class="input-group-text"><i class="far fa-clock"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="col-form-label">Min End Time  <span class="text-danger">*</span></label>
                                                <div class="input-group time timepicker">
                                                    <input class="form-control"><span class="input-group-text"><i class="far fa-clock"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="col-form-label">End Time   <span class="text-danger">*</span></label>
                                                <div class="input-group time timepicker">
                                                    <input class="form-control"><span class="input-group-text"><i class="far fa-clock"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="col-form-label">Max End Time <span class="text-danger">*</span></label>
                                                <div class="input-group time timepicker">
                                                    <input class="form-control"><span class="input-group-text"><i class="far fa-clock"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="col-form-label">Break Time  <span class="text-danger">*</span></label>
                                                <input class="form-control" type="text">
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label class="col-form-label">Accept Extra Hours </label>
                                                <div class="custom-control form-check form-switch">
                                                    <input type="checkbox" class="form-check-input" id="customSwitch1" checked="">
                                                    <label class="form-check-label" for="customSwitch1"></label>
                                                  </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label class="col-form-label">Publish </label>
                                                <div class="custom-control form-check form-switch">
                                                    <input type="checkbox" class="form-check-input" id="customSwitch2" checked="">
                                                    <label class="form-check-label" for="customSwitch2"></label>
                                                  </div>
                                            </div>
                                        </div>
                                    </div>
                                
                                    <div class="submit-section">
                                        <button class="btn btn-primary submit-btn">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Add Schedule Modal -->
                    
                <!-- Delete Shift Modal -->
                <div class="modal custom-modal fade" id="delete_employee" role="dialog">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-body">
                                <div class="form-header">
                                    <h3>Delete Shift</h3>
                                    <p>Are you sure want to delete?</p>
                                </div>
                                <div class="modal-btn delete-action">
                                    <div class="row">
                                        <div class="col-6">
                                            <a href="javascript:void(0);" class="btn btn-primary continue-btn" (click)="deleteRevenue()">Delete</a>
                                        </div>
                                        <div class="col-6">
                                            <a href="javascript:void(0);" data-bs-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Delete Employee Modal -->
</div>